In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
import re
from collections import Counter
print(os.listdir("C:/Users/Ксения/skillfactory_rds/module_1"))

['data.csv']

In [2]:
data = pd.read_csv('C:/Users/Ксения/skillfactory_rds/module_1/data.csv')
data.head(2)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015

In [3]:
len(data)

1890

# Предобработка датасета

In [6]:
answer_ls = [] # Список с ответами
data['profit'] = data['revenue'] - data['budget']
data['month'] = [int(x.split('/')[0]) for x in data['release_date']]

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [7]:
# Проверяем условие, что budget == max ; выводим инфо о подходящем условию фильме
display(data[data['budget'] == data['budget'].max()][['imdb_id', 'original_title', 'budget']])

answer_ls.append(4)

       imdb_id     original_title     budget
491  tt1032751  The Warrior's Way  425000000

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [8]:
display(data[data['runtime'] == data['runtime'].max()][['imdb_id', 'original_title', 'runtime']])

answer_ls.append(2)

        imdb_id     original_title  runtime
1158  tt0279111  Gods and Generals      214

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [9]:
display(data[data['runtime'] == data['runtime'].min()][['imdb_id', 'original_title', 'runtime']])

answer_ls.append(3)

       imdb_id   original_title  runtime
769  tt1449283  Winnie the Pooh       63

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [10]:
display(round(data.runtime.mean(), 0))

answer_ls.append(2)

110.0

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [11]:
# Используем метод describe()
display(data.describe().runtime['50%'])

answer_ls.append(1)

106.5

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [12]:
display(data[data['profit'] == data['profit'].max()][['imdb_id', 'original_title', 'profit']])

answer_ls.append(5)

       imdb_id original_title      profit
239  tt0499549         Avatar  2544505847

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [13]:
display(data[data['profit'] == data['profit'].min()][['imdb_id', 'original_title', 'profit']])

answer_ls.append(2)

       imdb_id     original_title     profit
491  tt1032751  The Warrior's Way -413912431

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [14]:
display(data[data['profit'] > 0].imdb_id.nunique())

answer_ls.append(1)

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [15]:
# Максимальная прибыль всех фильмов 2008
mp08 = data[data['release_year'] == 2008]['profit'].max()

# Фильм, который ей соответствует
display(data[data['profit'] == mp08][['imdb_id', 'original_title', 'profit']])

answer_ls.append(4)

       imdb_id   original_title     profit
600  tt0468569  The Dark Knight  816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [16]:
# Минимальная прибыль фильмов за период 2012-2014
minprof = data[(data['release_year'] >= 2012) &
               (data['release_year'] <= 2014)]['profit'].min()

# Фильм, который ей соответствует
display(data[data['profit'] == minprof][['imdb_id', 'original_title', 'profit', 'release_year']])

answer_ls.append(5)

        imdb_id   original_title     profit  release_year
1246  tt1210819  The Lone Ranger -165710090          2013

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [17]:
allgenres = {} # Создаём словарь с жанрами и количеством фильмов
for genres in data['genres']: # цикл по столбцу жанров (для каждого фильма получаем список его жанров)
    genre = genres.split('|') 
    for g in genre: # внутренний цикл по списку жанров каждого фильма - наполняем словарь количеством фильмов 
        if g in allgenres:
            allgenres[g] += 1
        else:
            allgenres[g] = 1

a11 = max(allgenres.values()) # Узнали максимальное количество фильмов в словаре
for k, v in allgenres.items(): # Вернём ключ-жанр, значение у которого максимальное
    if v == a11: print (k, v)

answer_ls.append(3)

Drama 782

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [18]:
# Сначала в новый dataframe "profmov" отфильтруем все прибыльные фильмы
profmov = data[data.profit > 0].reset_index()

#Далее так же, как в предыдущей задаче 

profgen = {} # Создаём новый словарь с жанрами и количеством фильмов
for genres in profmov['genres']: # цикл по столбцу жанров в новом dataframe
    genre = genres.split('|') 
    for g in genre: # наполняем словарь количеством фильмов в каждом жанре
        if g in profgen:
            profgen[g] += 1
        else:
            profgen[g] = 1

a12 = max(profgen.values()) # Узнали максимальное количество фильмов в словаре
for k, v in profgen.items(): # Вернём ключ-жанр, значение у которого максимальное
    if v == a12: print (k, v)

answer_ls.append(1) # На платформе правильный ответ Drama - №3

Drama 560

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [19]:
alldir = {} # Создаём словарь с режиссёрами и количеством фильмов
for director in data['director']: # для каждого фильма получаем список режиссёров
    everydir = director.split('|') 
    for d in everydir: # наполняем словарь количеством фильмов 
        if d in alldir:
            alldir[d] += 1
        else:
            alldir[d] = 1

a13 = max(alldir.values()) # Узнали максимальное количество фильмов в словаре
for k, v in alldir.items(): # Получили ответ на вопрос
    if v == a13: print (k, v)

answer_ls.append(3)

Steven Soderbergh 13

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [20]:
# Повторяем упражнение из предыдущей задачи на датафрейме прибыльных фильмов из задачи 12

profdir = {}
for director in profmov['director']:
    everydir = director.split('|') 
    for d in everydir: 
        if d in profdir:
            profdir[d] += 1
        else:
            profdir[d] = 1

a14 = max(profdir.values()) 
for k, v in profdir.items(): 
    if v == a14: print (k, v)

answer_ls.append(4) # На платформе правильный ответ Ridley Scott - №2

Ridley Scott 12

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [21]:
dirdict = {}
index = 0 # счётчик индексов в первом цикле
for director in data.director:
    for d in director.split('|'): # вторым циклом наполняем словарь по режиссёрам и сумме прибыли
        if d in dirdict:
            dirdict[d] += data.profit[index]
        else:
            dirdict[d] = data.profit[index]
    index += 1 # переход к следующей строке

a15 = max(dirdict.values()) 
for k, v in dirdict.items(): 
    if v == a15: print (k, v)

answer_ls.append(5)

Peter Jackson 5202593685

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [22]:
# Всё то же самое, что в предыдущей задаче, только вместо director - столбец cast

actdict = {} 
index = 0 
for actor in data.cast:
    for a in actor.split('|'):
        if a in actdict:
            actdict[a] += data.profit[index]
        else:
            actdict[a] = data.profit[index]
    index += 1

a16 = max(actdict.values()) 
for k, v in actdict.items(): 
    if v == a16: print (k, v)

answer_ls.append(1)

Emma Watson 6666245597

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [23]:
actors_12 = {} 
data2012 = data[(data.release_year == 2012)].reset_index() # отфильтрованный по 2012 df
index = 0
for actors in data2012.cast:
    for a in actors.split('|'):
        if a in actors_12:
            actors_12[a] += data2012.profit[index]
        else:
            actors_12[a] = data2012.profit[index]
    index += 1

a17 = min(actors_12.values()) 
for k, v in actors_12.items(): 
    if v == a17: print (k, v)

answer_ls.append(3)

Kirsten Dunst -68109207

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [25]:
topbud = data.query("budget > @data.budget.mean()") # Получаем выборку фильмов с бюджетом выше среднего

# Получаем список всех актёров из высокобюджетных фильмов
actlist = list([actor for actors in [row.split('|') for row in topbud.cast] for actor in actors])
display(Counter(actlist).most_common(1))

answer_ls.append(3)

[('Matt Damon', 18)]

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [27]:
NCdf = data[data.cast.str.contains('Nicolas Cage')] # в отдельный df фильтруем фильмы с N.C.
allgenres = set(data.genres.str.split('|').sum()) # создаем множество жанров
a19 = pd.Series({x: NCdf[NCdf.genres.str.contains(x)].genres.count() for x in allgenres})
display(a19.sort_values(ascending = False)[0:1])

answer_ls.append(2)

Action    17
dtype: int64

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [35]:
# Посмотрим напрямую самые часто встречающиеся. ТОП-3
prod = data.production_companies.str.split('|').sum()
Counter(prod).most_common()[0:3]

# Т.к. есть 2 очевидных лидера, уточним конкретнее:
WarnerBros = []
Universal = []
for st in prod:
    if 'Warner Bros' in st:
        WarnerBros.append(st)
    elif 'Universal' in st:
        Universal.append(st)
    else:
        continue
print('Warner Bros.:', len(WarnerBros), '\nUniversal:', len(Universal))

answer_ls.append(1) # Однако, если считать количество студий "Warner", их будет 191 (но это почему-то неправильно)

Warner Bros.: 187
Universal: 187

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [36]:
# Фильтруем только фильмы 2015 и смотрим наиболее часто встречаемые
d = data[(data.release_year == 2015)]
studio = d.production_companies.str.split('|').sum()
#display(Counter(studio).most_common()[0:5])

# Есть 2 очевидных лидера (Warner 12, Universal 10), но проверим конкретнее ТОП-3 :
WarnerBros = []
Universal = []
TCF = []
for st in studio:
    if 'Warner' in st:
        WarnerBros.append(st)
    elif 'Universal' in st:
        Universal.append(st)
    elif 'Twentieth' in st:
        TCF.append(st)
print('Universal:', len(Universal), '\nWarner Bros.:', len(WarnerBros), '\n20 Century:', len(TCF))

answer_ls.append(4) # Т.к. ТОП-2 одинаков, делаю выбор в пользу Warner Bros

Universal: 12
Warner Bros.: 12
20 Century: 9

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [38]:
from collections import defaultdict

# В отдельный DF выберем imdb_id, название, киностудию и прибыль (это понадобится в следующих задачах)
stuDict = defaultdict(list)
for i, row in data.iterrows():
    imdb_id = row['imdb_id']
    title = row['original_title']
    profit = row['profit']
    for studio in row['production_companies'].split('|'):
        stuDict['imdb_id'].append(imdb_id)
        stuDict['title'].append(title)
        stuDict['studio'].append(studio)
        stuDict['profit'].append(profit)
studioDF = pd.DataFrame(stuDict)

# В другой DF выберем только imdb_id и жанры
genDict = defaultdict(list)
for i, row in data.iterrows():
    imdb_id = row['imdb_id']
    for genre in row['genres'].split('|'):
        genDict['imdb_id'].append(imdb_id)
        genDict['genre'].append(genre)
genreDF = pd.DataFrame(genDict)

# В объединённом DF сгруппируем фильмы по студиям и сумме выручки в жанре Комедия
sd = studioDF.merge(genreDF, how='inner', on='imdb_id')
a22 = sd[sd.genre == 'Comedy'].groupby(['studio']).profit.sum().sort_values(ascending=False)
display(a22.head(2))

answer_ls.append(2)

studio
Universal Pictures      8961545581
Walt Disney Pictures    7669710326
Name: profit, dtype: int64

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [39]:
m12 = data[(data.release_year == 2012)] # Только фильмы 2012
studios = set(m12.production_companies.str.split('|').sum()) # Множество киностудий
a23 = pd.Series({x: m12[m12.production_companies.str.contains(x)].profit.sum() 
                 for x in studios}).sort_values(ascending = False)
display(a23.head(2))

answer_ls.append(3)

C:\DataScience\Anaconda\lib\site-packages\pandas\core\strings.py:1843: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

Columbia Pictures     2501406608
Universal Pictures    1981011579
dtype: int64

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [40]:
# Из задания 22 используем studioDF (фильм-кинокомпания-прибыль) и группируем кинокомпании по минимальной прибыли
display(studioDF[studioDF.studio == 'Paramount Pictures'].groupby(['title']).profit.min().sort_values(ascending=True).head(2))

answer_ls.append(1)

title
K-19: The Widowmaker   -64831034
Timeline               -60519261
Name: profit, dtype: int64

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [41]:
# Создаём сводную таблицу по месяцам и годам 
# Cуммируем revenue
pivot25 = data.pivot_table(values='revenue', 
                           index='month',
                           columns='release_year',
                           fill_value=0,
                           aggfunc='sum')

display(pivot25.sum().sort_values(ascending=False).head(2))

answer_ls.append(5)

release_year
2015    25449202382
2014    23405862953
dtype: int64

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [42]:
WB = data['production_companies'].str.contains('Warner Bros')  # Фильтруем строки содержащие Warner Bros
GroupWB = data[WB].groupby(['release_year'])[['profit']].sum()  # Группируем по годам суммы прибыли
display(GroupWB.sort_values(['profit'], ascending=False).head(2))  # Сортируем и берём максимальное значение

answer_ls.append(1)

                  profit
release_year
2014          2295464519
2007          2201675217

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [43]:
pivot27 = data.pivot_table(values='imdb_id',
                           index='release_year',
                           columns='month',
                           fill_value=0,
                           aggfunc='count')
display(pivot27.sum().sort_values(ascending=False).head(2))

answer_ls.append(4)

month
9     227
12    191
dtype: int64

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [44]:
# Используем сводную таблицу из предыдущего вопроса
# Возьмём сумму среза для 6-8 месяцев
display(pivot27.sum()[5:8].sum())

answer_ls.append(2)

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [45]:
winterDF = data[(data.month.isin([1,2,12]))] # Фильтруем зимние фильмы
wintdir = winterDF.director.str.split('|').sum() # Выбираем зимних режиссёров
display(Counter(wintdir).most_common(1))

answer_ls.append(5)

[('Peter Jackson', 7)]

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [47]:
pivot30 = data.pivot_table(values='profit',
                           index='month',
                           columns='release_year',
                           fill_value=0,
                           aggfunc='sum')
display(pivot30.idxmax(axis = 0).value_counts()[0:3])

answer_ls.append(2)

6     7
12    4
5     4
dtype: int64

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [48]:
# Воспользуемся studioDF из задания 22

studioDF['title_len'] = studioDF.title.str.len() # Добавили столбец с длиной названия
display(studioDF.groupby(['studio']).title_len.mean().sort_values(ascending=False).head(2))

answer_ls.append(5)

studio
Four By Two Productions    83.0
Jim Henson Company, The    59.0
Name: title_len, dtype: float64

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [49]:
# Воспользуемся studioDF из задания 22

studioDF['title_word'] = studioDF.title.str.count(' ') + 1 # Добавили столбец, подсчитывающий число слов (пробелов+1) в названии
display(studioDF.groupby(['studio']).title_word.mean().sort_values(ascending=False).head(2))

answer_ls.append(5)

studio
Four By Two Productions    12.0
Jim Henson Company, The    10.0
Name: title_word, dtype: float64

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [50]:
a33 = set()
for i in data['original_title'].to_list():
    for j in i.lower().split():
        a33.add(j)
display(len(a33))

answer_ls.append(3)

2461

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [52]:
# Сортируем фильмы по среднему рейтингу
sortvotes = data.groupby(['imdb_id']).vote_average.sum().sort_values(ascending=False) 

# Берём ТОП 1% (18 фильмов)
top1 = int(len(data)*0.01)
topvotes = sortvotes[0:top1] # Смотрим и выбираем
display(data[data.vote_average.isin(topvotes)][['original_title', 'vote_average']])

answer_ls.append(1)

                                         original_title  vote_average
9                                            Inside Out           8.0
28                                            Spotlight           7.8
34                                                 Room           8.0
118                                        Interstellar           8.0
119                             Guardians of the Galaxy           7.9
124                                          Big Hero 6           7.8
125                                  The Imitation Game           8.0
128                                           Gone Girl           7.9
138                            The Grand Budapest Hotel           7.9
155                            The Theory of Everything           7.8
177                              The Fault in Our Stars           7.8
283                                          Mr. Nobody           7.8
316                                            3 Idiots           7.8
370                                           Inception           7.9
497   The Lord of the Rings: The Fellowship of the Ring           7.8
600                                     The Dark Knight           8.1
864               The Lord of the Rings: The Two Towers           7.8
873                                         The Pianist           7.9
1082      The Lord of the Rings: The Return of the King           7.9
1184                            The Wolf of Wall Street           7.9
1189                                                Her           7.8
1192                                   12 Years a Slave           7.9
1206                                          Prisoners           7.8
1214                                 Dallas Buyers Club           7.8
1445                                       The Prestige           7.8
1564              Eternal Sunshine of the Spotless Mind           7.8
1689                                There Will Be Blood           7.8
1801                                            Memento           7.9

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [53]:
from itertools import combinations
pairs = []
for act in data.cast:
    for a in combinations(act.split('|'), 2):
        pairs.append(', '.join(a))
display(Counter(pairs).most_common()[0:3])

answer_ls.append(5)

[('Daniel Radcliffe, Rupert Grint', 8),
 ('Daniel Radcliffe, Emma Watson', 8),
 ('Rupert Grint, Emma Watson', 7)]

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [54]:
a = Counter(data.director.str.split('|').sum()).most_common()
aDF = pd.DataFrame(dict(a), index=['Movies']).T # Создан DF по всем уникальным режиссёрам

b = Counter(data[data.profit > 0].director.str.split('|').sum()).most_common()
bDF = pd.DataFrame(dict(b), index=['Movies']).T # Создан DF по всем прибыльным режиссёрам

cDF = bDF.merge(aDF, left_index=True, right_index=True, how='left').reset_index() # в новом DF объединены показатели
cDF.columns = ['director', 'prof_m', 'all_m'] # для удобства переименованы столбцы
cDF['share'] = round(cDF.prof_m / cDF.all_m *100, 1) # и посчитана доля прибыльных фильмов у каждого режиссёра

a36 = cDF[cDF.director.isin(['Quentin Tarantino', 
                             'Steven Soderbergh', 
                             'Robert Rodriguez', 
                             'Christopher Nolan', 
                             'Clint Eastwood'])].sort_values(by=['share','all_m'], ascending=False) #Получили ответ на вопрос
display(a36)

answer_ls.append(4)

             director  prof_m  all_m  share
7   Christopher Nolan       8      8  100.0
17  Quentin Tarantino       6      7   85.7
2      Clint Eastwood      10     12   83.3
3   Steven Soderbergh      10     13   76.9
12   Robert Rodriguez       8     11   72.7

# Submission

In [55]:
len(answer_ls)

36

In [56]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4